In [204]:
import pandas as pd

In [205]:
import numpy as np

In [206]:
# Location of file
file_to_load = "Resources/purchase_data.csv"
file_to_load

'Resources/purchase_data.csv'

In [207]:
#File load code 1
file_to_load_df = pd.read_csv(file_to_load)
file_to_load_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
# Load file with column header code to practice 1st 10 rows
file_to_load_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [209]:
#Total number of unique players
total = len(file_to_load_df["SN"].value_counts())
total

576

In [210]:
# Display Total number of players
total_count = pd.DataFrame({"Total Players":[total]})
total_count

   Total Players
0            576

In [211]:
# Unique items
unique_items = len((file_to_load_df["Item ID"]).unique())
unique_items

179

In [212]:
# Average price
average_price = ((file_to_load_df["Price"]).mean())
average_price

3.050987179487176

In [213]:
# Number of purchases
number_of_purchases = ((file_to_load_df["Purchase ID"]).count())
number_of_purchases

780

In [214]:
# Total revenue
total_revenue = ((file_to_load_df["Price"]).sum())
total_revenue

2379.77

In [215]:
#Display unique items, average price, number of purchases, and total revenue 
summary_data = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
summary_data

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [216]:
# Add Dollar signs to Average Price & Total Revenue
summary_data = summary_data.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
summary_data

In [217]:
#Group by Unique Gender and sum
grouped_df = file_to_load_df.groupby("Gender")["SN"].nunique()
grouped_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [218]:
# Gender columns
gender_info = file_to_load_df.groupby("Gender").nunique()
gender_info

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,178,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12

In [219]:
# Number of unique gender
gender_count = gender_info.nunique()["SN"]
gender_count

3

In [220]:
#Percentage calculation
percentage_calculations = gender_count / total * 100
percentage_calculations

0.5208333333333333

In [239]:
#Summary Display of Summary Gender
summary_gender = pd.DataFrame({ "Count":grouped_df,"Percentage of Players": percentage_calculations
                           })

summary_gender["Percentage of Players"] = summary_gender["Percentage of Players"].map("{:,.2%}".format) 
summary_gender

                       Count Percentage of Players
Gender
Female                    81                52.08%
Male                     484                52.08%
Other / Non-Disclosed     11                52.08%

In [250]:
gender_purchase = file_to_load_df.groupby(["Gender"])

In [246]:
#Gender purchasing mean
puchase_mean = gender_info["SN"].count()
purchase_mean

260.0

In [247]:
# Gender purchasing total
purchase_total = gender_info["Price"].sum()
purchase_total

235

In [248]:
# Gender purchasing average
purchase_avg = average_price/total_count
purchase_avg

   Total Players
0       0.005297

In [249]:
gender_purchasing.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

gender_purchasing = pd.DataFrame({"Purchase Count": [gender_purchase], 
                                    "Average Purchase Price": [purchase_mean],
                                    "Average Purchase Value":[purchase_total],
                                    "Average Purchase Total per Person": [purchase_avg]})

gender_purchasing.index.name = "Gender"

gender_purchasing

,Purchase Count,Average Purchase Price,Average Purchase Value,Average Purchase Total per Person
Gender,,,,
0,3,260.0,235,Total Players 0 0.005297

In [253]:
# Display age group
groups demographics = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

file_to_load_df["Age Demographics"]= pd.cut(file_to_load_df["Age"], age_bins, labels=group_names)
demographic_group =file_to_load_df.groupby("Age Demographics")

file_to_load_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24